.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    background-color:  #5607ba !important;
    color: white !important;
    border-radius: 23px;
    font-size: 14px !important;
    padding: 10px 15px !important;
    text-transform: capitalize;
    font-weight: 400;
}