.forgot {
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    padding: 50px;
    margin-top:20px;
}
.forgot .label-form {
    margin-bottom: 30px;
}
.forgot .label-form label {
    color:#000;
}
.forgot a {
 display: flex;
 margin-bottom: 30px;
}
.forgot .login-button {
    font-size: 20px;
    border-radius: 30px;
    color: #f6eded;
    background-color: rgb(78 34 128 / 86%);
}