.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .modal-body {
    margin-top: 20px;
    margin-bottom: 20px;
  }